%footer.main-footer
  .row.bottom
    .column-1.large-4.columns
      %h2.title Скидки
      .content
        %p.text
          © 2015 С любовью
          %a
    .column-2.large-4.columns{:style => "text-align: right; float: right;"}
      %h2.title Социальные страницы
      #mailing-list-module.content
        .social-follow
          %a.glyph.facebook{"aria-hidden" => "true", :href => "#", :target => "_blank", :title => "Facebook"}
          %a.glyph.twitter{"aria-hidden" => "true", :href => "#", :target => "_blank", :title => "Twitter"}
          %a.glyph.instagram{"aria-hidden" => "true", :href => "#", :target => "_blank", :title => "Instagram"}